body {
  height: 100vh;
  background-color: rgb(81, 81, 81);
  display: flex;
  justify-content: center;
  align-items: center;
}

#coordinates {
  padding: 10px;
  font-size: 32px;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #eee;
}